<%- include('../include/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../include/menu.ejs', {active: 'cart'})%>
    </header>
    <h1>
        You can check items in your Cart here
    </h1>
    <p>Currently there are 0 items here</p>
    
</body>
</html>