<%- include('../include/head.ejs') %>
</head>
<body>
    <header>
        <%- include('../include/menu.ejs', {active: 'login'})%>
    </header>
    <h1>
        You are currently logged in
    </h1>
    
</body>
</html>