<%- include('./include/head.ejs') %>
</head>
<body>
    <header>
        <%- include('./include/menu.ejs', {active: '404'})%>
    </header>
    <h1>
        This is a dead end. You have reached a 404 error page
    </h1>
    
</body>
</html>