<nav>
    <ul>
        <li class="header__link_items" ><a class="header__link_anchor" href="/home">HOME</a></li>
        <li class="header__link_items" ><a class="header__link_anchor"  href="/shop">SHOP</a></li>
        <li class="header__link_items" ><a class="header__link_anchor"  href="/admin/add-product">ADD PRODUCT</a></li>
        <li class="header__link_items" ><a class="header__link_anchor"  href="/shop/cart">VIEW CART</a></li>
        <li class="header__link_items" ><a class="header__link_anchor"  href="login">LOGIN</a></li>
    </ul>
</nav>