<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Admin Panel
        link(rel="stylesheet", href="/styles/main.css")
        link(rel="stylesheet", href="/styles/add-product.css")
    body
    header
        nav
            ul
                li.header__link_items
                    a.header__link_anchor(href="/admin/product") Home  
                li.header__link_items
                    a.header__link_anchor.link__active(href="/admin/product") Shop  
                li.header__link_items
                    a.header__link_anchor(href="/admin/product") Add Product

    h1 This is the admin panel of the website
    if item.length > 0
        p Added Product list goes like this: 
        ul
            each i in item
                li #{i}
    else
        h1 No product Found